
*{
    margin:0;
    padding: 0;
}
body{
    font-size: 1em;
}
.masthead {
    height: 75vh;
    min-height: 500px;
    background-image: url('../images/cool-teddy-bear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:55px;
  }
.main-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:70px;
}
.main-section h4{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
/*Footer*/
footer{
    display: flex;
}

footer section{
    display: flex;
    flex-direction: column;
}
footer h2{
    font-size: 1.5em;
    font-family: 'Amatic SC', cursive;
}
section ul{
    flex-direction: column;
    list-style: none;
}
footer > li{
    font-size: 0.7em;
}
.main{
    margin-top: 75px;
}
/*Mise en page product.html*/
.product-name{
    font-family: 'Amatic SC', cursive;
}
/*Mise en page cart.html*/
.main-heading{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 1.5em;
}
.table-responsive thead {
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-responsive thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}
.table-responsive tr td {
    padding: 40px 15px 27px;
    vertical-align: middle;
}

.table-responsive tr td .img-product {
    width: 150px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-responsive tr td .img-product img {
	width: 100%;
}
.table-responsive tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-responsive tr td .price {
    text-align: right;
    line-height: 64px;
    margin-right: 40px;
    color: #989898;
    font-size: 16px;
}
.nb-article{
    margin-top:10px;
    font-size:1em;
}

/*Formulaire*/
.card-order {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-order {
    width: 50%;
    margin-left: 25%;
  }
  
  .form-order .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  .recapitulatif-Product{
      background-color: #caf0f8;
      border-radius: 10px;
  }
  .form-label {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label input {
    height: auto;
    border-radius: 2rem;
  }
/*Mise en page check.html*/
.knowledge{
    font-size: 1.5em;
    text-align: center;
    padding:0 50px;
    margin-bottom: 50px;
}
.infoDelivery{
    display:flex;
    justify-content: space-around;
}
p{
    font-size: 1.2em;
    font-weight: normal;
}
.info-heading{
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
#totalPrice{
    font-weight: 300;
}
#btnBackToIndex{
    margin:45px 30%;
}